body {
    font-family: Epilogue; /* Nur die angegebene Schriftart */
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #f4f4f4;
    padding: 2rem 0; /* Abstand vergrößert */
    margin-bottom: 3rem;
}

header h1 {
    float: left;
    margin: 0;
    font-size: 2rem; /* Headergröße um 5px vergrößert */
    font-family: Anton; /* Nur die angegebene Schriftart */
}

header nav {
    float: right;
}

header ul {
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px;
}

header a {
    color: #333;
    text-decoration: none;
}

.hero, .about, .social-media, .contact {
    padding: 5rem 0; /* Abstand zwischen Elementen vergrößert */
    text-align: center; /* Zentrierung für Abschnitte */
}

h2 {
    font-family: Anton; /* Nur die angegebene Schriftart */
    font-size: calc(5rem + 10px); /* Schriftgröße um 10px erhöht */
    font-weight: normal; /* Font-Weight auf normal gesetzt */
    margin-bottom: 2rem;
    text-transform: uppercase;
    position: relative;
    left: -450px; /* Schrift um 450px nach links verschoben */
    top: -10px; /* Schrift um 10px nach oben verschoben */ /* Änderung: Text 10px höher */
}

h1.welcome { /* Neue Klasse für die Willkommensnachricht */
    text-align: center; /* Zentrierung für die Willkommensnachricht */
}

.image-container {
    position: relative; /* Positionierung für das Bild */
    margin-bottom: 362px; /* Abstand zwischen Text und Bild */
}

.profile-image { /* Klasse für das Bild */
    width: 600px; /* Breite des Bildes proportional verkleinert */ /* Änderung: Bild kleiner gemacht */
    height: auto; /* Höhe automatisch anpassen */ /* Änderung: Bild proportional */
    position: absolute; /* Absolut positioniert, um hinter der Schrift zu sein */
    right: 0; /* Bild rechtsbündig */
    top: 50%; /* Vertikale Zentrierung */
    transform: translateY(-50%); /* Zentrierung */
    z-index: -1; /* Bild hinter dem Text */
    filter: none; /* Graufilter entfernt */
}

p {
    font-family: Epilogue; /* Nur die angegebene Schriftart */
    font-size: 1rem;
    margin-bottom: 2rem;
